.button {
  background: var(--blue-button);
  border: none;

  padding: 0.8rem 1.5rem;
  border-radius: 8px;

  color: var(--white);
  font-weight: bold;

  font-size: 1rem;
  letter-spacing: 1px;

  transition: all .5s;

  span {
    width: 1rem;
    height: 1rem;
  }

  &:hover {
    filter: brightness(.9);
  }

  &:disabled {
    background-color: var(--gray-text);
  }
}
