<table bgcolor="#f5f5f5" cellpadding="0" cellspacing="0" class="nl-container" role="presentation" style="table-layout: fixed; vertical-align: top; min-width: 320px; border-spacing: 0; border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt; background-color: #f5f5f5; width: 100%;" valign="top" width="100%">
<tbody>
<tr style="vertical-align: top;" valign="top">
<td style="word-break: break-word; vertical-align: top;" valign="top">
<!--[if (mso)|(IE)]><table width="100%" cellpadding="0" cellspacing="0" border="0"><tr><td align="center" style="background-color:#f5f5f5"><![endif]-->
<div style="background-color:transparent;">
<div class="block-grid" style="min-width: 320px; max-width: 500px; overflow-wrap: break-word; word-wrap: break-word; word-break: break-word; Margin: 0 auto; background-color: transparent;">
<div style="border-collapse: collapse;display: table;width: 100%;background-color:transparent;">
<!--[if (mso)|(IE)]><table width="100%" cellpadding="0" cellspacing="0" border="0" style="background-color:transparent;"><tr><td align="center"><table cellpadding="0" cellspacing="0" border="0" style="width:500px"><tr class="layout-full-width" style="background-color:transparent"><![endif]-->
<!--[if (mso)|(IE)]><td align="center" width="500" style="background-color:transparent;width:500px; border-top: 0px solid transparent; border-left: 0px solid transparent; border-bottom: 0px solid transparent; border-right: 0px solid transparent;" valign="top"><table width="100%" cellpadding="0" cellspacing="0" border="0"><tr><td style="padding-right: 0px; padding-left: 0px; padding-top:25px; padding-bottom:15px;"><![endif]-->
<div class="col num12" style="min-width: 320px; max-width: 500px; display: table-cell; vertical-align: top; width: 500px;">
<div class="col_cont" style="width:100% !important;">
<!--[if (!mso)&(!IE)]><!-->
<div style="border-top:0px solid transparent; border-left:0px solid transparent; border-bottom:0px solid transparent; border-right:0px solid transparent; padding-top:25px; padding-bottom:15px; padding-right: 0px; padding-left: 0px;">
<!--<![endif]-->
<div align="center" class="img-container center fixedwidth" style="padding-right: 0px;padding-left: 0px;">
<!--[if mso]><table width="100%" cellpadding="0" cellspacing="0" border="0"><tr style="line-height:0px"><td style="padding-right: 0px;padding-left: 0px;" align="center"><![endif]--><img align="center" alt="Logo" border="0" class="center fixedwidth" src="https://ledoctah-app-technology.s3.us-east-2.amazonaws.com/logo.png" style="text-decoration: none; -ms-interpolation-mode: bicubic; height: auto; border: 0; width: 100%; max-width: 225px; display: block;" title="Logo" width="225">
<!--[if mso]></td></tr></table><![endif]-->
</div>
<!--[if (!mso)&(!IE)]><!-->
</div>
<!--<![endif]-->
</div>
</div>
<!--[if (mso)|(IE)]></td></tr></table><![endif]-->
<!--[if (mso)|(IE)]></td></tr></table></td></tr></table><![endif]-->
</div>
</div>
</div>
<div style="background-color:transparent;">
<div class="block-grid" style="min-width: 320px; max-width: 500px; overflow-wrap: break-word; word-wrap: break-word; word-break: break-word; Margin: 0 auto; background-color: transparent;">
<div style="border-collapse: collapse;display: table;width: 100%;background-color:transparent;">
<!--[if (mso)|(IE)]><table width="100%" cellpadding="0" cellspacing="0" border="0" style="background-color:transparent;"><tr><td align="center"><table cellpadding="0" cellspacing="0" border="0" style="width:500px"><tr class="layout-full-width" style="background-color:transparent"><![endif]-->
<!--[if (mso)|(IE)]><td align="center" width="500" style="background-color:transparent;width:500px; border-top: 0px solid transparent; border-left: 0px solid transparent; border-bottom: 0px solid transparent; border-right: 0px solid transparent;" valign="top"><table width="100%" cellpadding="0" cellspacing="0" border="0"><tr><td style="padding-right: 0px; padding-left: 0px; padding-top:5px; padding-bottom:5px;"><![endif]-->
<div class="col num12" style="min-width: 320px; max-width: 500px; display: table-cell; vertical-align: top; width: 500px;">
<div class="col_cont" style="width:100% !important;">
<!--[if (!mso)&(!IE)]><!-->
<div style="border-top:0px solid transparent; border-left:0px solid transparent; border-bottom:0px solid transparent; border-right:0px solid transparent; padding-top:5px; padding-bottom:5px; padding-right: 0px; padding-left: 0px;">
<!--<![endif]-->
<table border="0" cellpadding="0" cellspacing="0" class="divider" role="presentation" style="table-layout: fixed; vertical-align: top; border-spacing: 0; border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt; min-width: 100%; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;" valign="top" width="100%">
<tbody>
<tr style="vertical-align: top;" valign="top">
<td class="divider_inner" style="word-break: break-word; vertical-align: top; min-width: 100%; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; padding-top: 10px; padding-right: 10px; padding-bottom: 10px; padding-left: 10px;" valign="top">
<table align="center" border="0" cellpadding="0" cellspacing="0" class="divider_content" role="presentation" style="table-layout: fixed; vertical-align: top; border-spacing: 0; border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt; border-top: 1px solid #9CB2FF59; width: 100%;" valign="top" width="100%">
<tbody>
<tr style="vertical-align: top;" valign="top">
<td style="word-break: break-word; vertical-align: top; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;" valign="top"><span></span></td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
<!--[if (!mso)&(!IE)]><!-->
</div>
<!--<![endif]-->
</div>
</div>
<!--[if (mso)|(IE)]></td></tr></table><![endif]-->
<!--[if (mso)|(IE)]></td></tr></table></td></tr></table><![endif]-->
</div>
</div>
</div>
<div style="background-color:transparent;">
<div class="block-grid" style="min-width: 320px; max-width: 500px; overflow-wrap: break-word; word-wrap: break-word; word-break: break-word; Margin: 0 auto; background-color: transparent;">
<div style="border-collapse: collapse;display: table;width: 100%;background-color:transparent;">
<!--[if (mso)|(IE)]><table width="100%" cellpadding="0" cellspacing="0" border="0" style="background-color:transparent;"><tr><td align="center"><table cellpadding="0" cellspacing="0" border="0" style="width:500px"><tr class="layout-full-width" style="background-color:transparent"><![endif]-->
<!--[if (mso)|(IE)]><td align="center" width="500" style="background-color:transparent;width:500px; border-top: 0px solid transparent; border-left: 0px solid transparent; border-bottom: 0px solid transparent; border-right: 0px solid transparent;" valign="top"><table width="100%" cellpadding="0" cellspacing="0" border="0"><tr><td style="padding-right: 0px; padding-left: 0px; padding-top:5px; padding-bottom:10px;"><![endif]-->
<div class="col num12" style="min-width: 320px; max-width: 500px; display: table-cell; vertical-align: top; width: 500px;">
<div class="col_cont" style="width:100% !important;">
<!--[if (!mso)&(!IE)]><!-->
<div style="border-top:0px solid transparent; border-left:0px solid transparent; border-bottom:0px solid transparent; border-right:0px solid transparent; padding-top:5px; padding-bottom:10px; padding-right: 0px; padding-left: 0px;">
<!--<![endif]-->
<!--[if mso]><table width="100%" cellpadding="0" cellspacing="0" border="0"><tr><td style="padding-right: 10px; padding-left: 10px; padding-top: 10px; padding-bottom: 10px; font-family: Tahoma, Verdana, sans-serif"><![endif]-->
<div style="color:#393d47;font-family:Roboto, Tahoma, Verdana, Segoe, sans-serif;line-height:1.2;padding-top:10px;padding-right:10px;padding-bottom:10px;padding-left:10px;">
<div class="txtTinyMce-wrapper" style="line-height: 1.2; font-size: 12px; color: #393d47; font-family: Roboto, Tahoma, Verdana, Segoe, sans-serif; mso-line-height-alt: 14px;">
<p style="font-size: 15px; line-height: 1.2; word-break: break-word; mso-line-height-alt: 18px; margin: 0;"><span style="font-size: 15px;">Olá <strong>{{name}}</strong>, tudo bem?</span></p>
</div>
</div>
<!--[if mso]></td></tr></table><![endif]-->
<!--[if mso]><table width="100%" cellpadding="0" cellspacing="0" border="0"><tr><td style="padding-right: 10px; padding-left: 10px; padding-top: 10px; padding-bottom: 10px; font-family: Tahoma, Verdana, sans-serif"><![endif]-->
<div style="color:#393d47;font-family:Roboto, Tahoma, Verdana, Segoe, sans-serif;line-height:1.5;padding-top:10px;padding-right:10px;padding-bottom:10px;padding-left:10px;">
<div class="txtTinyMce-wrapper" style="line-height: 1.5; font-size: 12px; color: #393d47; font-family: Roboto, Tahoma, Verdana, Segoe, sans-serif; mso-line-height-alt: 18px;">
<p style="font-size: 14px; line-height: 1.5; word-break: break-word; mso-line-height-alt: 21px; margin: 0;">Recebemos seu contato através do nosso website.</p>
</div>
</div>
<!--[if mso]></td></tr></table><![endif]-->
<!--[if mso]><table width="100%" cellpadding="0" cellspacing="0" border="0"><tr><td style="padding-right: 10px; padding-left: 10px; padding-top: 10px; padding-bottom: 10px; font-family: Tahoma, Verdana, sans-serif"><![endif]-->
<div style="color:#393d47;font-family:Roboto, Tahoma, Verdana, Segoe, sans-serif;line-height:1.5;padding-top:10px;padding-right:10px;padding-bottom:10px;padding-left:10px;">
<div class="txtTinyMce-wrapper" style="line-height: 1.5; font-size: 12px; color: #393d47; font-family: Roboto, Tahoma, Verdana, Segoe, sans-serif; mso-line-height-alt: 18px;">
<p style="font-size: 14px; line-height: 1.5; word-break: break-word; text-align: justify; mso-line-height-alt: 21px; margin: 0;">Nossos atendentes logo entrarão em contato via email com você para que possamos conversar melhor.</p>
</div>
</div>
<!--[if mso]></td></tr></table><![endif]-->
<!--[if (!mso)&(!IE)]><!-->
</div>
<!--<![endif]-->
</div>
</div>
<!--[if (mso)|(IE)]></td></tr></table><![endif]-->
<!--[if (mso)|(IE)]></td></tr></table></td></tr></table><![endif]-->
</div>
</div>
</div>
<div style="background-color:transparent;">
<div class="block-grid" style="min-width: 320px; max-width: 500px; overflow-wrap: break-word; word-wrap: break-word; word-break: break-word; Margin: 0 auto; background-color: transparent;">
<div style="border-collapse: collapse;display: table;width: 100%;background-color:transparent;">
<!--[if (mso)|(IE)]><table width="100%" cellpadding="0" cellspacing="0" border="0" style="background-color:transparent;"><tr><td align="center"><table cellpadding="0" cellspacing="0" border="0" style="width:500px"><tr class="layout-full-width" style="background-color:transparent"><![endif]-->
<!--[if (mso)|(IE)]><td align="center" width="500" style="background-color:transparent;width:500px; border-top: 0px solid transparent; border-left: 0px solid transparent; border-bottom: 0px solid transparent; border-right: 0px solid transparent;" valign="top"><table width="100%" cellpadding="0" cellspacing="0" border="0"><tr><td style="padding-right: 0px; padding-left: 0px; padding-top:5px; padding-bottom:5px;"><![endif]-->
<div class="col num12" style="min-width: 320px; max-width: 500px; display: table-cell; vertical-align: top; width: 500px;">
<div class="col_cont" style="width:100% !important;">
<!--[if (!mso)&(!IE)]><!-->
<div style="border-top:0px solid transparent; border-left:0px solid transparent; border-bottom:0px solid transparent; border-right:0px solid transparent; padding-top:5px; padding-bottom:5px; padding-right: 0px; padding-left: 0px;">
<!--<![endif]-->
<table cellpadding="0" cellspacing="0" role="presentation" style="table-layout: fixed; vertical-align: top; border-spacing: 0; border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt;" valign="top" width="100%">
<tbody><tr style="vertical-align: top;" valign="top">
<td align="center" style="word-break: break-word; vertical-align: top; padding-bottom: 0px; padding-left: 10px; padding-right: 0px; padding-top: 0px; text-align: center; width: 100%;" valign="top" width="100%">
<h3 style="color:#555555;direction:ltr;font-family:Roboto, Tahoma, Verdana, Segoe, sans-serif;font-size:16px;font-weight:normal;letter-spacing:normal;line-height:120%;text-align:left;margin-top:0;margin-bottom:0;"></h3>
</td>
</tr>
</tbody></table>
<!--[if mso]><table width="100%" cellpadding="0" cellspacing="0" border="0"><tr><td style="padding-right: 10px; padding-left: 10px; padding-top: 10px; padding-bottom: 10px; font-family: Tahoma, Verdana, sans-serif"><![endif]-->
<div style="color:#393d47;font-family:Roboto, Tahoma, Verdana, Segoe, sans-serif;line-height:1.2;padding-top:10px;padding-right:10px;padding-bottom:10px;padding-left:10px;">
<div class="txtTinyMce-wrapper" style="line-height: 1.2; font-size: 12px; color: #393d47; font-family: Roboto, Tahoma, Verdana, Segoe, sans-serif; mso-line-height-alt: 14px;">
<p style="font-size: 14px; line-height: 1.2; word-break: break-word; mso-line-height-alt: 17px; margin: 0;">Sua mensagem:</p>
<p style="font-size: 14px; line-height: 1.2; word-break: break-word; mso-line-height-alt: 17px; margin: 16px 0 0;">{{message}}</p>
</div>
</div>
<!--[if mso]></td></tr></table><![endif]-->
<!--[if (!mso)&(!IE)]><!-->
</div>
<!--<![endif]-->
</div>
</div>
<!--[if (mso)|(IE)]></td></tr></table><![endif]-->
<!--[if (mso)|(IE)]></td></tr></table></td></tr></table><![endif]-->
</div>
</div>
</div>
<div style="background-color:transparent;">
<div class="block-grid" style="min-width: 320px; max-width: 500px; overflow-wrap: break-word; word-wrap: break-word; word-break: break-word; Margin: 0 auto; background-color: transparent;">
<div style="border-collapse: collapse;display: table;width: 100%;background-color:transparent;">
<!--[if (mso)|(IE)]><table width="100%" cellpadding="0" cellspacing="0" border="0" style="background-color:transparent;"><tr><td align="center"><table cellpadding="0" cellspacing="0" border="0" style="width:500px"><tr class="layout-full-width" style="background-color:transparent"><![endif]-->
<!--[if (mso)|(IE)]><td align="center" width="500" style="background-color:transparent;width:500px; border-top: 0px solid transparent; border-left: 0px solid transparent; border-bottom: 0px solid transparent; border-right: 0px solid transparent;" valign="top"><table width="100%" cellpadding="0" cellspacing="0" border="0"><tr><td style="padding-right: 0px; padding-left: 0px; padding-top:5px; padding-bottom:5px;"><![endif]-->
<div class="col num12" style="min-width: 320px; max-width: 500px; display: table-cell; vertical-align: top; width: 500px;">
<div class="col_cont" style="width:100% !important;">
<!--[if (!mso)&(!IE)]><!-->
<div style="border-top:0px solid transparent; border-left:0px solid transparent; border-bottom:0px solid transparent; border-right:0px solid transparent; padding-top:5px; padding-bottom:5px; padding-right: 0px; padding-left: 0px;">
<!--<![endif]-->
<!--[if mso]><table width="100%" cellpadding="0" cellspacing="0" border="0"><tr><td style="padding-right: 10px; padding-left: 10px; padding-top: 10px; padding-bottom: 10px; font-family: Tahoma, Verdana, sans-serif"><![endif]-->
<div style="color:#393d47;font-family:Roboto, Tahoma, Verdana, Segoe, sans-serif;line-height:1.2;padding-top:10px;padding-right:10px;padding-bottom:10px;padding-left:10px;">
<div class="txtTinyMce-wrapper" style="line-height: 1.2; font-size: 12px; color: #393d47; font-family: Roboto, Tahoma, Verdana, Segoe, sans-serif; mso-line-height-alt: 14px;">
<p style="font-size: 14px; line-height: 1.2; word-break: break-word; mso-line-height-alt: 17px; margin: 0;">Ficamos felizes que você tenha se interessado pelos nossos serviços.</p>
</div>
</div>
<!--[if mso]></td></tr></table><![endif]-->
<!--[if (!mso)&(!IE)]><!-->
</div>
<!--<![endif]-->
</div>
</div>
<!--[if (mso)|(IE)]></td></tr></table><![endif]-->
<!--[if (mso)|(IE)]></td></tr></table></td></tr></table><![endif]-->
</div>
</div>
</div>
<div style="background-color:transparent;">
<div class="block-grid" style="min-width: 320px; max-width: 500px; overflow-wrap: break-word; word-wrap: break-word; word-break: break-word; Margin: 0 auto; background-color: transparent;">
<div style="border-collapse: collapse;display: table;width: 100%;background-color:transparent;">
<!--[if (mso)|(IE)]><table width="100%" cellpadding="0" cellspacing="0" border="0" style="background-color:transparent;"><tr><td align="center"><table cellpadding="0" cellspacing="0" border="0" style="width:500px"><tr class="layout-full-width" style="background-color:transparent"><![endif]-->
<!--[if (mso)|(IE)]><td align="center" width="500" style="background-color:transparent;width:500px; border-top: 0px solid transparent; border-left: 0px solid transparent; border-bottom: 0px solid transparent; border-right: 0px solid transparent;" valign="top"><table width="100%" cellpadding="0" cellspacing="0" border="0"><tr><td style="padding-right: 0px; padding-left: 0px; padding-top:5px; padding-bottom:5px;"><![endif]-->
<div class="col num12" style="min-width: 320px; max-width: 500px; display: table-cell; vertical-align: top; width: 500px;">
<div class="col_cont" style="width:100% !important;">
<!--[if (!mso)&(!IE)]><!-->
<div style="border-top:0px solid transparent; border-left:0px solid transparent; border-bottom:0px solid transparent; border-right:0px solid transparent; padding-top:5px; padding-bottom:5px; padding-right: 0px; padding-left: 0px;">
<!--<![endif]-->
<table border="0" cellpadding="0" cellspacing="0" class="divider" role="presentation" style="table-layout: fixed; vertical-align: top; border-spacing: 0; border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt; min-width: 100%; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;" valign="top" width="100%">
<tbody>
<tr style="vertical-align: top;" valign="top">
<td class="divider_inner" style="word-break: break-word; vertical-align: top; min-width: 100%; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; padding-top: 10px; padding-right: 10px; padding-bottom: 10px; padding-left: 10px;" valign="top">
<table align="center" border="0" cellpadding="0" cellspacing="0" class="divider_content" role="presentation" style="table-layout: fixed; vertical-align: top; border-spacing: 0; border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt; border-top: 1px solid #9CB2FF59; width: 100%;" valign="top" width="100%">
<tbody>
<tr style="vertical-align: top;" valign="top">
<td style="word-break: break-word; vertical-align: top; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;" valign="top"><span></span></td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
<!--[if (!mso)&(!IE)]><!-->
</div>
<!--<![endif]-->
</div>
</div>
<!--[if (mso)|(IE)]></td></tr></table><![endif]-->
<!--[if (mso)|(IE)]></td></tr></table></td></tr></table><![endif]-->
</div>
</div>
</div>
<div style="background-color:transparent;">
<div class="block-grid" style="min-width: 320px; max-width: 500px; overflow-wrap: break-word; word-wrap: break-word; word-break: break-word; Margin: 0 auto; background-color: transparent;">
<div style="border-collapse: collapse;display: table;width: 100%;background-color:transparent;">
<!--[if (mso)|(IE)]><table width="100%" cellpadding="0" cellspacing="0" border="0" style="background-color:transparent;"><tr><td align="center"><table cellpadding="0" cellspacing="0" border="0" style="width:500px"><tr class="layout-full-width" style="background-color:transparent"><![endif]-->
<!--[if (mso)|(IE)]><td align="center" width="500" style="background-color:transparent;width:500px; border-top: 0px solid transparent; border-left: 0px solid transparent; border-bottom: 0px solid transparent; border-right: 0px solid transparent;" valign="top"><table width="100%" cellpadding="0" cellspacing="0" border="0"><tr><td style="padding-right: 0px; padding-left: 0px; padding-top:5px; padding-bottom:20px;"><![endif]-->
<div class="col num12" style="min-width: 320px; max-width: 500px; display: table-cell; vertical-align: top; width: 500px;">
<div class="col_cont" style="width:100% !important;">
<!--[if (!mso)&(!IE)]><!-->
<div style="border-top:0px solid transparent; border-left:0px solid transparent; border-bottom:0px solid transparent; border-right:0px solid transparent; padding-top:5px; padding-bottom:20px; padding-right: 0px; padding-left: 0px;">
<!--<![endif]-->
<table cellpadding="0" cellspacing="0" class="social_icons" role="presentation" style="table-layout: fixed; vertical-align: top; border-spacing: 0; border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt;" valign="top" width="100%">
<tbody>
<tr style="vertical-align: top;" valign="top">
<td style="word-break: break-word; vertical-align: top; padding-top: 5px; padding-right: 5px; padding-bottom: 5px; padding-left: 5px;" valign="top">
<table align="center" cellpadding="0" cellspacing="0" class="social_table" role="presentation" style="table-layout: fixed; vertical-align: top; border-spacing: 0; border-collapse: collapse; mso-table-tspace: 0; mso-table-rspace: 0; mso-table-bspace: 0; mso-table-lspace: 0;" valign="top">
<tbody>
<tr align="center" style="vertical-align: top; display: inline-block; text-align: center;" valign="top">
<td style="word-break: break-word; vertical-align: top; padding-bottom: 0; padding-right: 2.5px; padding-left: 2.5px;" valign="top"><a href="https://www.instagram.com/technologic.ss.oficial" target="_blank"><img alt="Instagram" height="32" src="https://ledoctah-app-technology.s3.us-east-2.amazonaws.com/instagram.png" style="text-decoration: none; -ms-interpolation-mode: bicubic; height: auto; border: 0; display: block;" title="instagram" width="32"></a></td>
<td style="word-break: break-word; vertical-align: top; padding-bottom: 0; padding-right: 2.5px; padding-left: 2.5px;" valign="top"><a href="https://wa.me/+5511981436494?text=Ol%C3%A1%21+Gostaria+de+saber+um+pouco+mais+dos+servi%C3%A7os+da+Techno+Logic%21" target="_blank"><img alt="WhatsApp" height="32" src="https://ledoctah-app-technology.s3.us-east-2.amazonaws.com/whatsapp.png" style="text-decoration: none; -ms-interpolation-mode: bicubic; height: auto; border: 0; display: block;" title="WhatsApp" width="32"></a></td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
<!--[if mso]><table width="100%" cellpadding="0" cellspacing="0" border="0"><tr><td style="padding-right: 5px; padding-left: 5px; padding-top: 5px; padding-bottom: 5px; font-family: Tahoma, Verdana, sans-serif"><![endif]-->
<div style="color:#7e7e7e;font-family:Roboto, Tahoma, Verdana, Segoe, sans-serif;line-height:1.2;padding-top:5px;padding-right:5px;padding-bottom:5px;padding-left:5px;">
<div class="txtTinyMce-wrapper" style="line-height: 1.2; font-size: 12px; color: #7e7e7e; font-family: Roboto, Tahoma, Verdana, Segoe, sans-serif; mso-line-height-alt: 14px;">
<p style="font-size: 14px; line-height: 1.2; word-break: break-word; text-align: center; mso-line-height-alt: 17px; margin: 0;"><strong>Enviado por Techno Logic corp.</strong></p>
</div>
</div>
<!--[if mso]></td></tr></table><![endif]-->
<!--[if mso]><table width="100%" cellpadding="0" cellspacing="0" border="0"><tr><td style="padding-right: 5px; padding-left: 5px; padding-top: 5px; padding-bottom: 5px; font-family: Tahoma, Verdana, sans-serif"><![endif]-->
<div style="color:#7e7e7e;font-family:Roboto, Tahoma, Verdana, Segoe, sans-serif;line-height:1.2;padding-top:5px;padding-right:5px;padding-bottom:5px;padding-left:5px;">
<div class="txtTinyMce-wrapper" style="line-height: 1.2; font-size: 12px; color: #7e7e7e; font-family: Roboto, Tahoma, Verdana, Segoe, sans-serif; mso-line-height-alt: 14px;">
<p style="font-size: 14px; line-height: 1.2; word-break: break-word; text-align: center; mso-line-height-alt: 17px; margin: 0;">
<!--(figmeta)eyJmaWxlS2V5IjoiTDUxZWNIc2VKWHhROVZ0OURFb21VZSIsInBhc3RlSUQiOi0xLCJkYXRhVHlwZSI6InNjZW5lIn0K(/figmeta)-->
<!--(figma)ZmlnLWtpd2kEAAAAPiIAALV7f5wkW1XfvdXd82Nnd99PHg9ERERERN237/HeAxGpqa6erp3urnpV1TO7T6Sp6a6Zqbc93W1Xz+zOExEJIYYgIiASRIKGRESjqPgrQUVi1CSKP4PGn4iYGGNMYhJjzA/z/d5bv3pnnx//cT+f7Xvuueeee+6555x77r01b5fdOE2jgzg8ncVC3HHFdXqDIDT9UOBfz23aA6tt9rbsAFXZD2y/UjcUtd1rAq4FzlbP7ACqB+G1jg2goYBBYJPXiqJVnAfBtuMNfLvjmuy52nNDp3VtELTdfqc56Htbvtlk/7UMHDTdHuvred23W74dtIE6F1h2zx4A7bUHj/Vt/xqQG1Wkb3sdIs83nVYL5QWr49i9cLDpY3TLDCjbRfNmkmI6VwELEktzOIRagPJtszlwe4qFUJVd3wkpjexNR7F3GKUxyCw0hTZnA6Kuu6NAuZtMRsnkwD8ek6bn9h63fRcNwm2qdnLQer8XjTZQoula/S7kAygts7djBoCMLd/tewBqLd/skq6+6bod2+wNXM/2zdBxe0A2dmwrdH1AK9QzytWOo9iu2Z2O4wUE130QYQHVCp3z7a1+x/QHntu5tqWYbGCoXtNuQnEl3fnQvkqRLgQdxyLiYnCtu+lyte9wehisp7B3BqFjbVNVdwVt07MHu07YHmR977bcXg88lYD3BIfRLN5NFodhfHOhdbAWPNY3fRutohRXNh2z6yoLM0LfUQLBRFCtFdWmu0vJ67eTvOGZvtnpwNZgDt2B72y1KczKMrpjt4hd3RzHk1EXqwIJPTMIBmEbTLdoafAFv6vsWzZNf9vmiEa33wkdbV81qhqa3Oz7bKpbbsctao0Ox1V9VgLYioLU4qBH021u2aiv6S55dR1W5HdM8j4XuK1woHigttE2/WZRU3Zt+7ZegQv2VavTD7Q9XGz3ibsjMMN+YSR3qlEA3NXpd52eGzghh7jbi5JJthCrgdtxqHEB5TSVt2hRgZEFiqXSB6wTIFFQOq0JuFqBA1G2fnWna6qZNeAhVxwAK84RIk8wjMaxVjpCh2+HltJ3y+H0ZMvpqEFCR61nzd7fj4eZoHUHFuUjcJgwATSKpu96ZVW2XNg3FrDXHGx2+pTL2DSt7WVUjRZoKTdecWEfjo5iou/BtVDKjrurAIgQahkCGEJnYJkenbNe1gYt17eU6zfItBkPp/NokUwn6JM7OEbGskKdgCWm62zbpZEZveOjvXjenySLFH18k9MQnnPV7gQAJCRCaKNeDGs6SRfzyqJhMYEXbFfiyq7JeGZgjEyltcAy1QTqLXBsDnSPRlZR1CvBYj69Hpvj5GCCDgUzAS93VFCWbj/MQEMTW9EMw+fzw1TUasvCmw3T991dZUKcRE1X7cf6TgcxE24IZD0zkwGXO9Ng7t4FKhPuyjShbF2EYSXapr1jk4fMhzY2p9NxHE3cWZyrv97vafPHRNAtQIQALIP+ZuibCjauKq9Q1qCm357Okyenk0U0RvcsQFS0C0tR/mdc6SPqtRwlYdl7J54vEhg2ca6HpkrXTTcM3S4gozs9TmPreJ5O51Bh026ZCChoEJbvBrBjxwcs7Ws2DRuLj5qB3VcN5ZmYCgKMBQNCve6poNJAYTkdQCs78JPpvJvM5+ReGKBSKkqpAPgsYond2wppIUYzSg+1KxoWQjBQorQfqdxVm1vd620BJa54NksZ7LAwvCb32Jp9czadL2410Rp2AARB7P+ZHYocses01fgyR7TtXL2d6HR6vNiaJyPNpK6ttqLOUkBDG3Gt7ONFi0U8n6AJVI6nDBBRTUU3qRbreDH14zR5EqwLFSlxlGYKOWQBwepPx3EQZ5OCwv3AzWJGaJtcV2nBJvQKI1FBWtKzGGNrod31XN9USUo9ZwMtLeJCRWdCL0CZB04MHQ2v6/UphG0jaD0OtSkJJPYM7MEK1tTKGkF+Rm1aV5rImh5DiHlG23hK2kLTNbMfMpPBLND9ynG6SPZPUX3Knp5p2QM4qs6kaqpboLWu4g+QyJwC53F7ELpweTXvJQSMBIvidD2kIKixBTSMgxMYOrxca7CR6wXeYftYlwGTWNRl31da4Q6AsmZ1XJVh1B1OPaqwOO/2BrB+RSbMFtgMQqdrI/ChLrsusuCBmqehYd1QQ68292zAdd2AbYhkDV1TWcsKqDzMi4aYx8y1pm/Se9bRtm1fy7udQ3XH1fnWRjiPJmlSyvhMBGQkOeEA8QuhOdvcRdMJYEE7NkDZQqqM0kDOhpy55btFnlOroPI4Vq/gdMRqVDBFyFrx+kFb4zJmqyUm57VWojSr9RJRcDrHNFnjMk4bJSbndL5EaU4XSkTB6aIWFMsAopzZHUvInN+dS1jN8q4lXMH1bjVShs2Y3lPF5TzvrSI1y6dVUQXH++DGjjVgG2pPR96As5DZg3erA8X9yAxdZBIl5hl2lOL8oFd8Dccnq7/pWGgQZJ1XJLK4StXgRquTMPSgtRdNddItYRq67xJuRUevor4aDOfT8biZzLWfgU9muH9F7MGkVZzQfeGkC7pYPILjL2K021c9xFft9xY4cBdWNbnVRwCURorzFwYDvCrkeIqtVIHw9zG2M1mfi3UhD/Bj7OGnFuGnrnc8dL6JmjzFj+EDBeoScQM/tUP81BWnYDGdocOQsNgRcjbVXgYCoxst5slNIVeOLl1CXR5degCFcXTpMora0QNE1o8eILJx9ACRK140Ryx3JqMY/YyD42QkwgrTjTzDQ+NJND6O0Uceq2zvmcJoQUu96CgWsrYfHSXjU9DLlNsEAANMFulwnswWqNVIuxPNkwhdjo/ieTJsJQfHc6gWG0N2UBGwBEdt09LtNNVhHLAaZrlrMIuGsLOlvh4yDhfrmW1tMjQ3s9z+NgxaXFxOsMoBKR2OlArGHg0LU+tb7W1FsxT2VXaBS6hsX6IY5BXDs5F5U/QaEIOixpwOB3iCDaAw2S2AKxX+Xq73qljI+fCL1A8bNwAlT6CUjMUpqBzYtLJ+iSxSxdxWHC2Ugv9Aekj20SSsy54iyaQwLC8gvkZpUCoBUTayY/9K4PSYHq26frOHcs1s+Wxfb/ZUfDjX63cp0gbOdibK89iEOKULTV1ebOvyDpwfWN5pmipbvMvS5d2+pcp7Al2/199Rp8+n0TFR3hfsqkuTp1vBLsv7sTjEP8OyupT7mYHe3D+j7ahrkWdle+xnun6P8j2bSkH5WdhyuJTPaYbqWPLZrY7JeTy3u+Vzz/ycALaG8nnb2IBRfm4LCRXK57d1+XltPe4LQl3//Md0+UJPl1/AlBrlizqtTda/0PVU+UV+qMov9nT/S952j3p6oIPwgfIySsr5oB92WH8IJesvNjf9HZQPm5s7rD+CknI/uqP5vGQHAqF86WZnl+vzJShJ9zKUpPtSc7vNebzcuqKOCl9mtZQjvMLyVN20+j7pNrH7sm4huLFstjR/u4UzJcoWyssot1A+iLKNYTmeg5L8r7T1fDDaFuXptN0rtBskVSof6jnY21G6V7xHHkXpXfEeJZ/HrngvuYTSv+Jdeghl0LnSZb+w41qk72Oj4brsdO0mj927KCnH1e52l/hrvY7KdR7v9bdDlF+OBIVyvRJlgPIrdqBwlK/ygpD4AUriX+1v+6xHvtdmuef3N7nuwwBJGspRqOWIw55Ki/exTFy/gx1cSKA83NHtyY6e9xM728peru/4oY9yjPIyyqMgQOQVYoKS9SnKB1HOUD6E8itRvhjlHOXDKFOUj6BcoKSejlG+BOVJECBmC3EDJfndREl+pyjJ70mU5PdVKMnvNSjJ76tRkt9rUZLf16Akv9fJILhMhl8rrR0l4esJkOXfIkCebyBApn+bALm+kQDZ/h0C5Pt1BMj47xIg5zcBUKL+PQLk/GYC5Pz1BMj5LQTI+RsIkPNbCZDzNxIg57cRIOe3EyDndwBQMn8TAXJ+JwFy/mYC5PwuAuT89wmQ87sJkPO3ECDn9xAg528lQM7vBfAgOf8DAuT8PgLk/G0EyPnbCZDzPyRAzu8nQM7/iAA5/2MC5PwdBMj5AwAeIufvJEDOHyRAzt9FgJy/mwA5/xMC5Pw9BMj5ewmQ84cIkPP3ESDn7wfwYnL+AQLk/GEC5PyDBMj5hwiQ8w8TIOcfIUDOP0qAnP8pAXL+ZwTI+SMAHibnHyNAzj9OgJx/ggA5f5QAOf8kAXL+GAFy/ucEyPmnCJDzvyBAzj8N4BFy/hkC5PyzBMj5XxIg539FgJz/NQFy/jkC5PzzBMj54wTI+RcIkPMvAniUnH+JADn/MgFy/hUC5PyrBMj53xAg508QIOdfI0DOv06AnP8tAXL+DQAqRP0mAXL+LQLk/NsEyPl3CJDz7xIg508SIOffI0DOnyJAzr9PgJw/LW+9a0BqtcB2LS4LmadYBnPKbjSbMcmRxv58esS0bDHFr7E5nu4JKfdOF3EqalJfcgijhpv9Q9YnzMiQf42iRaRoV5F9JWOcGS0mjeboCZx+hVxbcGykc+lhNJreSAEah8nBIY7Uh0jvkDCO4kWUjAHVY4icMpdA4niCI3eMSwrAK4v4SF1Z6abVk2QPp74h4TV1PauHzR5shHHub3bIIRKjeYS5rYv1vTl5TjAyaueUMMK4S+n5TiGHVASyZ2PKRHLBPLt2kqTJHpIqKeooslv1i6KRIuFOxSvlCnhP0v3p/Ei8SqwmSulPijUFhIdIkieU/EmxHk2Aw8nBYQsQd2oE0jpknViaVXEX6tVr5LvFufkU5wyQQJKNlA0Azu8r9VkUNlu114gLM86lpVrEa8XF+Gj6RGKBi4dbRihxVd7BBLELRTZhAMJoXI9PxUjIfWA7ySRux9QM2BvENJODGHxryOBR02nlTNRZ2dWEDSSruHfSzM4PDyOmzvE8hYnJoqY6Ok0Ob6SE3ZN4juusOIygTDiPrI3VHZe6QrkKFeP+egxpUmwmsnEwPp0dpthF5MqouINOsYfIVd1tBwMCBd2tUbRidq+Xcn0/Go/3cDvTQkMqRvLcIVZ5DubXN6c3McAbpdxADdCnpTzfrjQKo76Hi6RRKh7HqWY+xpTyI1DtMKdDhtfA81UmrzBWYZc6Sb8q5I1ktODZzGDbNQA1AoWK66yZ6RBHLNRW95N5urBynWEyDdhZtb6yRUUIY2U4PTqKIFjmv+WB7KrQ+oVUcOt9TFlpFEOdZR6NTjLXWGkWWhWGMccRE1OWsuRk6JOo0qlRO1GVXry4MZ1fz0WYwPKjMQYbqRFzQc4uNGMXrjExDUllpiKUMjg92puOM/apqmDcEJFAwTmTlAwMnC/pZgHdoIXZwFWh2JxtHhYNQy2UnAGHTAJnITjBVjxhcMA89VhyWuUsmzj7ndAzj44XlFc55G0pAygSM1XS+fF+jFMyNGms7yfjeBsOBeNPVaOahoG+tM92hBCMwy7n7UGuTNYUWYys5wG7MU4Qs+annFA4DY73eEjeAxkR4kRy8WfTCWxGD7R6PNkf81p4Apoqx7Uk7edNMTxcrGuprbx/N0phCnp+tWGO1Vzl7HhvnKSHYMZxKW04DePoqFNKx0GMWwepOdi4aFcuJk2FBQvO2qhNszpZufvBDUgKVWfEXCGE3SURjLyHUvnt+e5c/mtxVvctQWVB8i6atX6Dg++qDeBeSoKYqjaA/f00XsCaa/NolBxzt6iXO0EDRbETrKSzeRyNQLEacitQDulM9qcwRcW3I+ToWFsfiAwPMX3KhmZ8kgzzZ4j8JopHFfUOIi0cHtVx2lA4XE7xEgP1mu7o51sDTDzrbFm7A5WeyFsGQURjBTkp7DNzU0iNKToj6D3ZTxAaYKDopXl+ANudC10hzHpZjAnJAI+7kERdOAhcEeb3iZJw0WKwlt8q1nCDhnnklPWsWhA3MkROv9I1e311TFvNBNhEED+YMyA75Q03RilmzQvwAS6Zcc2A6z/cA2bvevIMAz2HoieOoU5zkD8knyU3YVAInLQmw9gr0IrLh6DKEmXlhtOLkJUoHSoqXOObO7gFURc9Ahem2Uu4DHbV1YvBkl+TKAI8bKqbU/0kYSPVmS8CZDhwxlQYa+nx/j7u8eCkKlFQA1wSuPODyeuUcSFq6ckBPbuHCAZLraOKlJGW+iOwW9Tc4wV3H+7daEdQgU6xQboTXNNJsQqK1nQ+hJfxiRKR4noK9Fomy85WxkwYTmvQs+3s5tPs7JrXAgCyo/ZlPlkhKi4o4UNCRvwsxUA4LDyoNjk+CuB70FMqsI9m/oakLtXYgFaKHergGBFmntVWh5ma12YMPHgPe1isbyGoYn1q2SCyYFXs2R7iAxbwRlJ+xbIm4OtLeykekLBthZSYN3naQPhkiwLXfr67TYyRfQRSs1st/fZaxyWJ6xNqZO9xKzrcKn6VPULvizrESVhaZWMwKj2gcsyMS4g5pcRkXfC2Wl4Eok+55WSX05vxIYwP+gE/ZUdcEEwBr1KD3bYN/2g7nebAbeHdks24Z8QDhP4OR5rzYTFmhCffyYE5OYCikJUj1FWqRoJ3qrmfR8Wajq4dZEToezxPII8cJelsHJ0qG9zAiUNXlclBWm98fJBkG3FtpirQG7rpYw46XNfT8lSbH4+j48nwUHeozxRSdzhCHg9HAAgnUKsJsJakzXgcI9OGndWtKcRlrtCNeFjA6uRrm738MXShMLL4lIUrQPU8IjUKHvZkNGM6DbnjDGR2AWFCbJz52iC2HunBfhGGXnQGAJ8ae+wFa6iQa/9AN5BoWqoqAMR23N87zSZeuPEEg0ChTA1XaTlKf7Uml7p2Ey0chkmBJJdPIFyVnlFQY93g6jAyDGN3Nt1d7c+wdzObvfq4C/njBHo2/lKlbpwtyzA6gOO8eHaIJFisCEMBGvnwDAadPyC8WtQqVU3wyIKedk6ofUmjHp1Eyl4aLDXqJWXEWMlA3fBS7OzX1Qqvakijv6Q8uK1loG54GXoWO/Z6UdGNXzpECF8AOKcAjXx5yphzFcculBr1ZYiyxVHvfFHRja8YwZcRaeC8E7EuL1SqmsCM1BM9JwexL5Y13bxZbib2hEkoJ3fHGaQmto4QmNF+J0uNasYqRGNlq/H8rrNYTW6zp5O6ejcA5d1LCE3UKod3tTah2HvOIDXxFo4S1chwb7WuSdqVg8nTclg3ObCQ6GAezQ5pJFiNdXHfLShNeKXA5q896+Lpt+I06TZDmQNLn6szAwjvX8Zoss5RglXqJChA8gwUWU03d1O47fU4O/aui2dW65qkt4DThchMrmNskHxGta5J3MPiMxwsBlio/fpZ4lm3w+suHmoYyMQ1yEQ8W3xmpaoJHtMYK5qJ54hnFxXd6Ou6+sjoueKzyppuDiii4tUuBBDPF8+5DVp3CIuWnfyToBeIzz6D1MR94i1EA3GfeG4O66YdVivnzvvF5yxjNNnu3q3fPj1PPO9WnCa9epKNXSoQiv3cs1hNfg0b59hjPRWvk/L5ZVW3Pw5qqEqjSPF5VYSm+XL6SHac3xMvKGu6+ZW07R5cGxcsn5/Duukr1GS5lb1BihfmFd32qlidR1JcL8svyGDdMkD8HSE3UN9AwabEi8SLbkFpwldrfw/ypPGHpPzCZZSmiziyqUJQCh8Uj4ovWsZosj1s21OdzqW4HJZfXKlriqG+FOAkcJMvLpVV3T5Kubtgh1wVD2SgbojLMGJlWd3lW1CacJ8LtBVPj+LF/BS3z/LBKkLTHOglypGkemgZpekO4f/Zh0cvF0lR0Y1PqHoWQeDF16t1TTJWKC8aMSMCyVG1rkkm3BkR+NXlwzSv6LZZqpIlagdPGuIry6pun+/z4qGLQNxMUhXuEZjTM0hNvJjrhZq2ELekwMVnUdUEJ3rhNyGhVmreH9Q3lOAWsAh2yoHFpripkFdwociPoJriNNVpqZKyzGTfLcWTSaqxnr4tIFtw/SpARYfqlcRrRvqGRbdwwjx/f3WVfEdnxNj/X0uPyV6+LaR100mHRypOEGN8zVIrxL+5OI6Qf5YUr1N3mhkJ5jycxwwWuLyoUn1tlaoNW4AXIVpUSV5fJXHnWGMEPYk3sQo6GGOfj0ePx/Mpmt5Qbepl3xTo7xn28XJ2tjGzLnGI68izrS1sIRRdPIFHtkozgnwqxrgireC8PJ+c4PmNZocpfETKN0nEvuxSgpkcPDHEa9wMJ311PxBgQyyT2DeXDaXZKF+Ee369RABEOhONmUZgtm/JL8ewO+tFVEy+IbsCa8ZQfTLjyFjVt0reLyKNxLY7nXXifaxemR/Al75xicBnNL2F4m0lxeZ0sZge3YbL22+luR2jd5REZUvCLGOGxBCpBib3TbfShNh8lkneSW3RxTDDFLaIiBNhJ6B/fbPUtg371Vdb8F/oTln+eyReJkGarYq6Knq/xCNliQuxAKIDTytRzfIK6VtkHBXfU/XAD3rG+a/8sMnD2+VQCR0cTacLXuah2/tkMjmEWfGVYBzoWIzlem+ODlTALBu+PW8I4WMl+jtytK3CS9nwgaJBbV1lw3fmDdw3SvQHc3RFnha/ZKIYaP9RmaRFE3T6rajrxhzzbTIlpPTwUYnHWFVdtrufkMf5PSXUUA1K75c4JWJRch/cw9stekKTrj4oXcV9GQw8C0vflS1pwDEqy/lTEo+2laYyUH5M4hU3SZdj5PfIWOmNSjVT3KgQAP57QRlM95EIQaqMFdAfAro3nfRnI2zZGYvvy8SEycE+hooarcLHO/CwxGE3wBR+QOLOCIZ4mIxHEKuZnCA08LLvwxXj8hDw4vkJ3p7IF0P8IBlNsIpoVOptI5UoUfwEdUP8MO1fR4vsmvGDEtdMqWJS3Eb8tETmoCIHxELfEOTiCl6Yy+HD5ChGWgEb/UiVshuhgv/Ko35MopK3VJzhx+UoxoY1UXWcX7BgSFLQ4aOV6zmdu2FnkD8pb2t0mwUpDO9jMspuQ35W4gUb6lreuzoqCdrJLKMBC5hgqgdKAjW7D0s8c09PlCR5XFYN3y2hjqyB9xoLMM4JsFY/k7eV4jjlpGE6EOgMhVleUn6/xNO52hMy2Tbwgr6AffWxup0lqVfxpK6vUjgjPKvLn8M78gGi3ciduGFLfySWirn8+QK/v7/U8PHKCgaH0+PxKDjCZmKqZ03a6S/IlAmFTi9egdsQVS0PFlnehEX8Jd0E4VTKXjb8sm7YVe9pLfEruqpzbdR/VakDUUXdhIV4zJ9pZ8Pq8irhE3ldBZxfgwVn4ZjkG3jgT1IL7+t44M/o4tFOpqANPPZrBXGhiguoj0v5m2AD8WGX8+B4Rl/OwhRDk8n9kpGXCcRvaXGzNAsOyUm1xG+XDNKMw1Mw+B1ZvDeKP5Pid+X1+DScJwcH8OD/LsUnIX9A19+CJcxA/3ulR1YMJxV/JOWn5MkULmqfYPbeId7DqZ/fh7Xgsrf/FBHy01p+b44VnZ8W8v/BElotr4P39xQp47/TTdmMK02vEP8+a2IgyrpCbH7G+oe6JVt1X63tuvgPS1i9mQP9R5KmznSNefVmjAkg+iBmYqJ4UvyPupcaRQ0fxON95LZ/nCUlHagyhVfI/0TCTHMetnGY3ukOLyCR6FH5n5TyTyR9p4PcUC39p6T4z3juPPOa+E4p/gs3gFv+DvC8+K9cZ0ZMbmrwDFiz+NMSZyPYAPPfSgyEy/a235BY3wKveiPpwzH/f5RY9Ne4P9Oj08kzz1gX/7PwDHTGJfN7pfzz0jiAg6dNDjzcBywgvfhfy+R4XnuflH8h0aoSPntyfNTCgQx6h02K/y3hw/AMa9md/k8pmwUDxy6g+KdwU/l/8zB6m0fWd0nx/8quVGBxgfnrUvyldG4jBV5rOryqlJD3KVcR95+zDAnx9P1yKjakwTGKdTXwHJ8uECEaQu4dj2FKIVQEU+ZdN1M9tdSd+CQeg0S95PeO1cfPeLjQnCZ6IoYxBqh6/yHuW2/T29gsB8ALm9+0fX3j2u+VFen0mngeA4SXqkFHf4xZ6+SscTHeMdXfbYisT04jCy45pnxtVErU8QAz1pe4EAo6/mMpDN2Qij/Bq+jS/XnR31a0xkpS8gmBxk6OeRaopS0b6isaKjt27XpcDWL128SlRrmzlLnBSiGLqVgK40JJ1oNfYgkxqRIXghRZtFFiqlIs5dD1kqYcsCLFbfc3Pp7RZtGu2LT5QJVjdIq0Rrca33azXz+bNJwrBzyTkW1oeVvYidiOK+bzML15pAmwN+uM9UKhJDhGxceN2gTuBongh2klPS7fIfBykq1KUydzorFtX9t0TZ82CQPd7rm7eETiHzng9Ug93sqrm+5VPL3agA0veAhFLdh1Qqs98NSn4vXtcq0NvuvwkyS8+Eksk8JmY/0prKUNofVWZxj6qxt1jsWaGjtJfIPbJCx3GE1OopQ5Ow54SH9SfqQzQ4o7hspOQAddGarejKlLXlnXdKctza2u/lqRrPQfLL5QSN2umHamQ7Um0KVRQWMb0evK74Mev5WjNU6G14XkpyerkEZpHP0DtTZermFpTDB70GcpcrFoRqiVgRxLm4uQ6uMGQNkI8nC6SGfTRVY10hvRLIPzVSs661DUmOpaRvVXMZjlJuOU/pq11bNum4icM1wzLpwRTvKiAV2ncFhkxYhv0KWxB8cNcNMS82kOw2Wjp+L1BsJtYdblGVUYLdffzYzLt/EyHtCKJM7+Klh66L2ndnKcwTHCyhT+pwZ7Ax55J/GNomKckbFJGWuA8tkAg7kkaVtTOpNefOOWKWBSo0K4NxqINksCeHzbgnXzE3YHr/VKbHPT9TUoLbfbdUJdMZa7bsen+9zr4IMzxeVNmAB0fgABeBthLBBx0kV0NEMle8vNsjB02VueVa5YB3vLTRibkSr6wpTwaKrH1idG2AEuqBa5UrVA4usgwFl0AD3geuTN0KhmmgmRircYslYVsq4sHEeK0lca4LHoYkJ8jzXkArGJDrzD2N6NFxGEgVHmuzzOo9F4DFsCSR9xDp0hgDDuXfprqYIYi2Nk4as2zG6j6ojCB7GOsg36vYoPf46ofKTc+y/wNJjmTovEcG26h4FOMB+xKtdHMcNOT/M8h2WHJSgnTpHFyA09/9xxU6QnEu99y26G46QhL2CoOaTdEBeVQnOazNBgdXcs4b3buBq6h+LORU6Ss29SY/Ceu2aolSuairca8u5hRdtvM8Q9J0t6foch7g0wJeRFeBN77DjGlTiegrMNoZcFIVxl4VAFEyLCUiuQFiwMuTeGxlpJPObBj8aFFbFUxPRjLTiI9CLoYA39QYub82k0GmLOHBESgg4TRN/hct/3wMzyGRj3UyXwHFntYWDOCqhNSgFxppJ1Kj2vv9OQDSWquClXUiT80Thb1tVoiINCKupiLWVSHcTqHQYt63k95LAvFefyuoW0FXNQ6JeJjRmmwayiIc4rMFMEdllVxaGNzg2GF/XAXnQ6xuyBuCNdUn8CQd9lyDsrEyk0/W5D3LUPTjs4dWDqmO/diruTelwv+Mmpe7xIk1FsT4ZjmCSSABVOpLhHEXpQIVwpFPfiNIvERYqnjeGY4/5kNA14GBLvM+R9CuXHFdTT9/KlSsV7DXl/M9nftw6Puf+uVwSFu0gdt/DEP9KfcvTQjJWAN6ptUI1e13Cm4oauOakydOgGYq0MyT011fUgphEeQmCiMMQqNpCEM4b62wlcYz48PMUQcm12FrdOUXNlG/UJpMmFRau2XJgDpM1mhCc1hDBWNzkMqer/H/ATAADtmXmUVdWVxvetAQooAZlkLB8qg4BaICJD1aurILE7aSUOiUkn7UPFYYlA4xDSQT0iowriEByCphBsMCCCU4sMXgURRBFQEGJIyrYTMVECrcEpuvr37XercvNnr5V/slbe4rC/+3377LPPcM8991YUlViplZVFZiVWFpWPmnjp9deMm3CdNYsqbjazFtbW2plF5n7W08pKyseMvWJcbuBfPCpl+LlpE6lCe+FBN722bVtjEfEjBSrxQMcp0D9NuG7c5Aljx+fOnTD+x7mRYyfcMPZaa2b//7DzIhKMBipyRIpHlZ9xw8k5jz5+7BUTrx2QG3jqoGG5k3KDX3qe/0deuXHRpWMnj82NHj9x8tgBufM3Lp6YGzP2+vETEc8fMyBXPXjIkIEnDayupo/NG9NpNdPswDSzXDGvGZEd8NRm0ZmjrLXn1xHdutzCf10ldbPu1qOkyo61HCPXy3qTZsmN69Z+2VjkVKr/GPnI+ljfGWbzS048b+IlE6+baGdOHH+ZFfFJjvtFf6t+lTV2ppyUyPeNkpm28HcsBLgBzSGScms2in8k7HpRMtibLFzEYJfAfovSpEQoSQnrpGSahXZZpaTZjRZOtKgUxX6YVUqbTTX72qIylGRhVilTnX4WlaOE97NKudqpsqhZya0WRmSVZtSx71vUHCW5PKs0V50OFlWg2IqsUkGdcL1FLVCSX2aVFlLaWNRSyp+zSkuihXYWtSqZbqtyWaUVSnyCRZUo8VlZpRIl9LToKJRJV2WVo1Di5ha1RincllVaa3Q+0bhNN3swq7SR8rVFbVAOPZZV2hIt6WVRW5RV27PK0alyNMqkj7NKu1RpVzLDOldmlfapUooypSqrdEgzaI8yqXdW6ci42dxinb2DskqntE4HlB3Ds8oxaTsdUar/Jat0VrS3itF2/GtW6ZJGUwZbLs0qXVUnzaB6UlbpltbphNJ3SlbpTgZ2rkXHoHSem1V6oIQqizqj2M+zSpUU1kEXlL6rssqxKNZKa4cxSLJKDkV1KlBsV1bpSdZaiaozdH9WOS6to/4UDmaV49P+dEW56EhWOUF1Omtdz7RDpVmll9ppozU606orskpv1WGNVqDUHJ1V+qiO5zbT9nbKKn1Vh9xao4w/NqucqNw+UdYz7YLjs0o/KWTdDWVMn6zSn2jJcIu6o/QdmFUGoKgdZb1uWFY5SQpZq50tZ2aVk9N2eqBsGp1VTqFO/M/F/ti3s0o1itqpQrn3e1lloJSq4ojOviSrDNLopCO65fKscqrqpLm9NTGrDE5za4+y49qschrRiqt3ppX9R1YZktbRuNlNWeV02tG4qad7Z2WVoSjqqean7M6sMkzR0vn58O6sMlwK7RyLcmBBVhlBNN2nHVA612eVmlTJoZz9VztSbUaZ8mRWyadKG5Rla7NKXapodPZuyipxOjqqU7ktq5yR1lHWNW9llTMzyvi/urNGFpWKFi2iqPigLT50rYSH8oDSDpXvTf1o4cWvbl2/6bwlg17sNXvS86N/VGbln7W0ykhPRpzs5OjmKETRLZFNi+zWyKZHOhvMjGxWZLMjmxPZfZE9iverkW2LSl6PbHtk1qznFMMczJt1yhPowkZwPID2zQojsIB4DsyQuhJLtqcg9K9DQaovTUEah4jhxrwlswiU7EuBrUCrULWiZKwGs1vyFqpR46fyPH1Qk69TEBbj70FrG8GOEanUI/VJq9s9kWJNrTWbV1taBG9SVlC+FvFOrYUOuLaldMhDDHZg9k2KPMIlAKq4VQwHHSDkMaUGYjBg1VqPgSXGL4kO4a3Iw5ulitt5tWR0CiUU8PfsfwrdBHz8JDUBfmvUjVDT2LkzAH9Utj9hwFrUWbzSbanFGlMRB/H4Ao/6iAl4N28N2GRlvsQBP0Kv9dApeBxfB5vo/2oqbxexlGh7uZjvFuJSB2ZnYTcQTYAf4DxSbwSeZJqtveapX0bYvmIBsID6DAj78gCkJmC91JxAc8okyica+58ANLrz3DIADzqweDH23VpWi0A8AkUuuXVmE91CrKSeiGXMXRuacaD2rH7EX4DnJKkJNOUNsHc4P1p8fxozDHNgtp/YU5VPW0AFJDYJCikwi74IhFUos7A7RGxGOUTU7pARcxe+w6Bq7ua7LbXkFQecLvE6RJWEuym8DomN5xJdIFwMCENwuRiXUAvoRylQWkLYNMLvJquH3BJkswOLf43tQ90GY0U8gRIOw/Qmq91YX7fPA+he2l/jTiI326ew1zvgNEs7r0KEOi7WUYZSFhE2JBmQ/CcuJrABf+7oZJuIpbgoSDGqdqXIEqmKaI8CXqM8QHkNIox1YHY2ZTWRHfii+zc62AiKExfnUzAKcFC1WQgazfhht9wrv3BgydN5y1XgmrbsN6eNaQyte7YJxLi51AT4beOdzsJzfkE7RLGFNRavxp7JsNp9AEZPQ4XFo6WD4v7QVh4VgCUU2c7k6mACXhux8yBCTy4YD5tLbx7Ns85XZgA9oDuA8AplCcQuCPsZ/r/GbaZbiCsdmJ0PuRsi5HFnQGXj9Xl6NJThW48ikLyF6wLsARE7AH+G6EEpY/TsPJph9Ow2txDrHPgW5FtPcgTwLiQ2eYroAvaF+vspICagVl5FDYqABjkdRWM8fwzainNyhwOLH8T+VsRSQERsOmxdiOvgBoF7HNDAcAdmp1L6o4RB9PI4FAfNKWehfEi0cBGA8Gl7tkyTaS1pbw7uAhpUW4v9SEQXOkMv/VGlbsfLHfjGaX+iKcPdV15cxmA0Aptfg6/ABest/gzfN9dDHABUbWAJkdGwDfTt8TxP2g0WNGcXQoRvO/B2rRbCXiSTXht8HzHbQNdK86wmgvlmtJXot7rFtd4BzyLs7SISQHcI2TsYdwfDa1GWAliSYapbiG4OzNbXmk2Xh0aiNSQ2npmnrgBPfkZLozw9jw9AaymMoXQQMQFlDxM93y39W+3AG2bjIwqAQvYoerTEd7mFoC6gGGwjhKL7VGNpzrZoK7YyovtMAexJlECeO0VsgDgM0YXb2/fX8wnITMXz3eLxigMLH+D1v1TJNeNiB+4VzNN9ZFcABPXMQSVuBynT6EjMjGl8kvluiT7AgdnrNCsPT6gSEht8wACkaqztgXRJYQWshotzsO1FXA1gc/aw2q1tuQNL1uDVTh5bIEZwgSVakQhPcIFHvAnCq+zjQjG0V3tQCLXiHmo2oYosedgzWvMa2tARVcCqKYsodRB2L8o5XEzAfl/EYLp0CwQ2fiEl4vcgdmK/hAgn0IKGlqcPFo9nHfim4h7Jx7hTRTZel2cdL3dAXUCyjaYWYXeLuA/XBlSCYQlWcMDnHTzeFjEU9zcgsMlLKZHQpNKOn4AI41CXQc6FfAQi4SJ+iLIWYgFE+ARwC0W2W0rYYob+LWxrzcUzAKY4UR4+52c4KK6MQg0eq5jzrpQrKYtUpaHG7AgXsgPyLIJeuA4gOo9eC+UUxfhvuf4AsIbxm+4W4gEHxePuXgifmM/wwDJTdrWx/p/HYcgGAt9BC20EWtPc/vXUvw0wej1KLfOpu13gSC0gJpBA0EP7OSUuULLewvHYJ1W5gjaO3tAY34/k8ZY8Ww67NDc5NgVxK7Y4W8o4fZkvgrgbTEiQdIRVrSag3w6ttjCKiz1USGY7oHdLHBQ3gvcg/KhwmAtsTo8cB21YVKuJ2BEiUKXQDYJJxUL8uwMLF+at3j2GEbQtBLahGUnYCbUCdBCQ68h9fmetFXIiuHET3ltCD1oZJIIgYShL9na3BHvZgcW/I3o/ERy/GrpTBVuvDAXiQ6T8KRm+k4c4ANgMocW5VsRBwCrifIV9EKLAnmPT80X7rUZiD6P4AR5n1pIH9bXKlAeWGP0cmL3KfOblYYBdFGz4Rp7Br6aFbxDMQRXu52LLIHQPaz/RkGEZ9qUOLHkGj3I8wiaInlzInpMS4SHKbMpDij4qAzRlS7UT57i7+THEo5VJI9isZTYPP92FHAMtbM1bzEYd74ewDSiHKdiCNmmBcBSDvhqiA0R4FMCUJsTAQox34KevhnYQNpgqLSFkPyctq6R/n+dRAAWC2QzmWnXtZWa/LxPWnRmshtCZW1Nq890yHFscWPw+SfUXwZSGHhDYBs2xQHIQr8+Y1l20En4PeBZCVe+ifd9vP6DfPiRNgN8CLf3kRfejIl2Tb7iZcjWEHevAJzZZIGIAI/gcBJZ1lRLq6710pDPZ6NW0oQ8p9mTVeo++Rww6kNzpljF/yoEvwXCKiD8AetOjLxkE3SSFclSOJgHL+ZAOAOKNNCcQxtC9/eSwk9USVgFsuD+BbMdaXI8BNDSC9+hrOB3wP/j628Of6MmLtHeXP/f43x4nri124M8texaCjd/sBRp6ibKNFATCBygCueYk+HTe4qPJVmuowPzHd7ol2LUOzL6LlYeSC1SRZXEVifhNLr5DSSC0T3j7dxWtTvzxMq5vpGn7AcunEdgagKQmgGQL9aISWAQ2B7ahFW01ArYPxgCpCfCjJlnzKwKXdMYvgl/VWJgC0How7ZReqwnM8aHr76hYvwkwazgtYh5NoOhjW3U72njWfKVGQyBHhrtZQwMgQlcyYEHodQDLiD7owBLuyoI89BIUU0U2aHt3UNKo7Kc8ReObGMnkZygraPcqtzTX1YE3Zy+LoP1AFdlcKcEcVNaRIweaYlgHH1JOJKy/qpxBhZ2Uqyg7Rcx24Ef8II/kYQiq2M9ZHyUKK1BJMIG4c5275o6F4P2b99pih7F4KDqEmnMPtV+gimy9OiwQSupsh4YSFwuTadPYB3iBsYJu58tZ4rqVtBMny90S6JsO9HTluIGHbli9c7hdnidNAHdEUYmPoNQzHG1Iwn4POJ6mhjEIJ0GEm0hiKNOwwm2xOYBvJ/V9IAo8fJJOdVZQhoeIrtMUgGCH2R1x0zEp0U0RvwHogjvBsBCMCsCHOPZxYzdPviKhkRAvE0wgeUzBAOGHlMtR+0DEMwDv0pHlbkl1uwMLv8G2xSM5BKgmkBKaTLCcUpyct2V+69AUGRKZLiakGX7hlsh8ngL4Z6r4ceoJ8GNK1lKnEcTLqSwQ2B7CasrrIpYSZS/qfLeEH+vA24uTPHUB/OjbGCaoCcSacklN4HDePtdmHZ7j4h+v9UzGPoJ9QZWENfv391rP/n4/SPNr76cgWZS3uAuAY04RpD7F2z5Whn5Eqnfgt04wWovXADrRfSzPFvL4ygGKQBnqQewK6ia6IY5jujdjJ9WQGEG0SgJTjqVTfRyYbcHrJqroPTG0gMQmM4guEG4juoBtRXmFcTsoojdJMDlGMCzNveDAP+6FI/IgoWQfF7KPEUw5A0hVYAOFhHjkQqib+7i43S11xznwb+FhM4TeF+OnucDa7QQTCLemStCs4GptRFwGYMzSQbRxxtx/SfB7qaYndRPgB5hGz5qAHn1JM7rVCOqPAci5CcQ7qa6ATYCA9rZu2Xg/QevIQSBchct2iCCC0Qm3Q2ia74fQt/xkCRenUVZD2GUM9S4usPXlDKgA51Czpzln6VFhn+LRnx1rGF6DREwhKJty8ohb5mCrA/+4UxgIUSits0I/PFpRrQdETMB63kpkY6sjfzIFkBAg4dmYvE5f20MYM1TflXqsVSzETAcWrsFTB2Qd7Y23ItngKQPiz7mYjP2ITsXq8rt4raTKHgg7iLqROBzvbClETCKsMLe8HBYJ7VIFnoF2shal6rNKg0bLl+31DnyTtyU1EHuYuXMocym7VKUlI1WFimUpMW/DuBhHdAf7UBVsH66aGEBxpkrwiBkHtsyircvbp+XG+nmOi3/sxayZfQT7e96Lk/fzfMOhRwJxNT16m9Woo1mymSOZjllPuKXyow7MHsZWQfBiZDGHiWQOfT4OQmHj3nhMILxORbqrG/pAXOgWYqQDs9OpcgIECVt9Twhsg75W6I9DtIICsP4of2TsBkOEzvQkD3G2Wzy+64CdAVsLoZeJ+hoSmkX7wyCUYeE07qiFCIoRP0Izp0Iscwux2oGF/8IOgdBtbsMJik3qSEgDU6CVIzouqck45EkTwA+gbbIJaJsMK5EUKrztQNu/hZMhGloSl97H7Tk5doGo52Wp0IotCBs+zhcJtRyztjg9k85BLgLlcUpjw4A0F9NC9ga1kOPXHFjyDlYPkvAHwD5al1V8gYZmjBAeOT/qUqVwDCmtYoQat/QmoGB+TEwAvIThvxjA7RyucEvEtg54w6D7OXlcAHiaMoZ1Npz0BGJ9fddxrgmEOqUD0G6VzHYLQTcB/i3Qqqgs4HV0+mwC/JiYF/BxUEyu+Lal3oUFxBawTjR0EPUOYuvc7Zne45ZMT3HAyZxs5+BhowDtIfOkdDetO9DmIWBHE3A/hK/bk4nMoyXc7RZiuwP9bcIa5BFov0CVBmzYRzAHCzRz4WXaaCCsQD20raFSWyrpCBCzBhQWS9jJDvxjAtGocgZVmlMlpr3f5skRwE6JqwCqXYTSESJM4oInvndYxycfXYh4DbYDHkb7/ndK2TkEEyAzW6rHd/IrsjqdIRfIdRXY7YA8l7DKeGVJZub1XYdI51FRMzMau0ehAyE/Jnl6hKXKOw78i1zYCdHAGg9P0ATWJqWEnUgLetT9hnz5Kw69YcT3YlfVEGMdgBmLH3BLj+oc8JZANzXJdjagEyQ2mUuPHOjJKmDvoaxng6kg5dCKtqto6mKy1AemQNTkdDq1A6Gx3wDjJLOApNcQJZnuwOwaKq2C0EeZeCnESOz9eRoUmIYi4H9SID6rCmIqgOFP7nMLQe8BegpxcMAj2QYYTBbYMKGR+CkB8aAViJUotJ8mZPZ/(/figma)--><strong>Av. Interlagos, 1329 - 4º - Chácara Flora, São Paulo - SP, 04661-100</strong>
</p>
</div>
</div>
<!--[if mso]></td></tr></table><![endif]-->
<!--[if mso]><table width="100%" cellpadding="0" cellspacing="0" border="0"><tr><td style="padding-right: 10px; padding-left: 10px; padding-top: 10px; padding-bottom: 10px; font-family: Tahoma, Verdana, sans-serif"><![endif]-->
<div style="color:#393d47;font-family:Roboto, Tahoma, Verdana, Segoe, sans-serif;line-height:1.2;padding-top:10px;padding-right:10px;padding-bottom:10px;padding-left:10px;">
<div class="txtTinyMce-wrapper" style="line-height: 1.2; font-size: 12px; color: #393d47; font-family: Roboto, Tahoma, Verdana, Segoe, sans-serif; mso-line-height-alt: 14px;">
<p style="font-size: 14px; line-height: 1.2; word-break: break-word; text-align: center; mso-line-height-alt: 17px; margin: 0;"><strong><em><span style="font-size: 12px;">** Essa é uma mensagem automática, por favor não responda.</span></em></strong></p>
</div>
</div>
<!--[if mso]></td></tr></table><![endif]-->
<!--[if mso]><table width="100%" cellpadding="0" cellspacing="0" border="0"><tr><td style="padding-right: 10px; padding-left: 10px; padding-top: 10px; padding-bottom: 10px; font-family: Tahoma, Verdana, sans-serif"><![endif]-->
<div style="color:#393d47;font-family:Roboto, Tahoma, Verdana, Segoe, sans-serif;line-height:1.2;padding-top:10px;padding-right:10px;padding-bottom:10px;padding-left:10px;">
<div class="txtTinyMce-wrapper" style="line-height: 1.2; font-size: 12px; color: #393d47; font-family: Roboto, Tahoma, Verdana, Segoe, sans-serif; mso-line-height-alt: 14px;">
<p style="font-size: 14px; line-height: 1.2; word-break: break-word; text-align: center; mso-line-height-alt: 17px; margin: 0;"><strong>Atenção:</strong> <strong>Esse e-mail é relacionado ao trabalho acadêmico da Universidade Ibirapuera, da disciplina de Pesquisa Operacional lecionada pelo professor Nilton Moreira. Todas as informações nesse email são puramente fictícias e tem apenas finalidade acadêmica.</strong></p>
<p style="font-size: 14px; line-height: 1.2; word-break: break-word; text-align: center; mso-line-height-alt: 17px; margin: 8px 0;">Mensagem enviada em: {{timestamp}}</p>
</div>
</div>
<!--[if mso]></td></tr></table><![endif]-->
<!--[if (!mso)&(!IE)]><!-->
</div>
<!--<![endif]-->
</div>
</div>
<!--[if (mso)|(IE)]></td></tr></table><![endif]-->
<!--[if (mso)|(IE)]></td></tr></table></td></tr></table><![endif]-->
</div>
</div>
</div>
<!--[if (mso)|(IE)]></td></tr></table><![endif]-->
</td>
</tr>
</tbody>
</table>
