.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  img {
    width: 8rem;
    border-radius: 50%;
  }

  p {
    margin-top: 1rem;
    font-size: 1.4rem;
    font-weight: bold;
  }
}
