.container {
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.content {
  max-width: 1120px;
  width: 100%;

  padding: 2rem;

  h2 {
    color: var(--blue-title);
    font-size: 1.5rem;
    margin: 0 0 2rem;
  }

  p {
    font-size: 1.125rem;
  }

  section {
    a {

      img {
        width: 2rem;
      }
    }
  }

  form {
    display: flex;
    flex-direction: column;

    label {
      margin-top: 1rem;
    }

    button {
      margin-top: 1.125rem;
      margin-left: auto;
    }
  }
}
